.listinha {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.3vw;
}

#lista1 {
    padding-right: 4vw;
}

#lista2 {
    padding-right: 50.9vw;
    list-style-type: disc;
}

#prea {
    font-size: 1.3vw;
    font-family: "Poppins", sans-serif;
}

#subtitulo {
    font-size: 2.5vw;
}

#field {
    width: 50%;
}

#uli {
    padding-left: 80px;
}

#h2-f {
    position: relative;
    right: 3.38vw;
}

#sec {
    width: 98.8vw;
    padding-top: 60px;
    border-top: 1px solid white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6vh;
}