@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Apenas PC */
@media (min-width: 900px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #alto {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-self: center;
        padding-top: 4%;
        gap: 2rem;
        font-family: "Poppins", sans-serif;
        padding-bottom: 4%;
    }

    .header {
        height: 150000%;
        padding-right: 20px;
        border-right: 1px rgb(176, 16, 168) solid;
        font-family: 'Righteous', cursive;
    }
    .subtitulo {
        text-align: start;
        padding-bottom: 02%;
        font-size: 4vh;
    }
    .div {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .prea {
        text-align: start
    }
    ul {
        text-decoration: none;
        list-style: none;
    }
    .div-foot {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .foot {
        align-self: center;
        border-top: 1px rgb(176, 16, 168) solid;
        padding-top: 2%;
        font-family: "Poppins", sans-serif;
        text-align: start;
    }
}