.art {
    border-bottom: 1px solid white;
    padding-bottom: 8vh;
}

#pxemplo {
    display: flex;
    flex-direction: column;
    position: relative;
}

table,
th,
td {
    padding: 0.5vw 2vw;
}

th,
td {
    border: 0.1vw solid black;
    border-radius: 4px;
}

th {
    background-color: rgb(34, 33, 33);
    color: rgb(255, 255, 255);
    text-align: center;
}

td {
    color: black;
    background-color: rgb(228, 227, 227);
}

td:hover {
    background-color: rgb(196, 196, 196);
}

a {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(156, 16, 191);
}

h3 {
    width: 100%;
    border-radius: 16px;
    padding: 0.7vw;
    background-color: black;
}

#butao {
    padding: 8px 16px;
}