/* Campo da própria página*/


/*Campo das tables*/

table,
th,
td {
    padding: 8px;
}

.table {
    width: 80%;
    font-size: 18px;
    color: black;
}

.bordinha,
th,
td {
    border: 1px solid black;
    border-radius: 4px;
}

th {
    background-image: linear-gradient(to left, rgba(43, 43, 43, 0.631), rgb(63, 63, 63));
    color: rgb(255, 255, 255);
}

td {
    background-image: linear-gradient(to right, rgba(133, 133, 133, 0.57), rgb(230, 230, 230));
}

td:hover {
    background-color: black;
}

caption {
    font-size: 16px;
    color: white;
}


/*Campo dos fields*/

.h2 {
    font-size: 2.5vw;
}

.h2-field {
    text-align: center;
    padding-bottom: 8px;
}

.redirecio {
    text-decoration: none;
    color: rgb(191, 77, 248);
}

.redirecio:hover {
    color: rgb(156, 16, 191);
}

.legenda {
    padding: 8px 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    background-image: linear-gradient(to top, rgb(21, 21, 21), rgb(28, 20, 29));
}

#field1 {
    padding: 10px;
    width: 70%;
    border: 1px solid black;
    border-radius: 3px;
    background-image: linear-gradient(to top, rgb(58, 58, 58), rgb(22, 22, 22));
    transition: .3s linear;
}

#field1:hover {
    font-size: 1.6vw;
    width: 100%;
}

.field {
    padding: 10px;
    width: 40%;
    border: 1px solid black;
    border-radius: 3px;
    background-image: linear-gradient(to top, rgb(58, 58, 58), rgb(22, 22, 22));
    transition: .3s linear;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.field:hover {
    font-size: 1.6vw;
    width: 80%;
}


/* rgb(22, 22, 22)*/


/*Campo das sessões*/

#listas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.sec {
    border-top: 1px solid white;
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.sec table {
    width: 100%;
    margin-right: 24px;
}

#a {
    position: relative;
    top: -2.5vw;
}

#secs {
    margin-top: -20px;
    display: contents;
}

#sec1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#sec2 {
    flex-direction: column;
    gap: 25px;
}

.bord {
    border: none;
}