    .art {
        align-items: center;
        border-bottom: 0.1vw solid white;
        padding-bottom: 5vh;
    }
    
    legend {
        text-align: center;
        padding: 0vh 2vh;
    }
    
    img {
        float: left;
    }
    
    #s {
        float: right;
    }
    
    .exemplo {
        background-color: rgb(44, 43, 43);
        padding: 1.5vh;
        border: 0.1vh solid white;
    }