h2 {
    text-align: center;
}

.art {
    width: 100%;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    border-bottom: 0.1vw solid white;
    padding-bottom: 5vh;
}

.art figure {
    align-self: center;
}