.sec {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#aaa {
    position: fixed;
    bottom: 0;
}
.art {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}