    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    body {
        font-family: "Poppins", sans-serif;
        background-color: rgb(22, 22, 22);
        color: white;
        font-size: 1.4vw
    }
    
    .header {
        padding-top: 0.2%;
        display: flex;
        flex-direction: row;
        /* justify-content: space-around;*/
        align-items: baseline;
        border-bottom: 1px solid white;
        background-color: rgba(7, 7, 7, 0.59);
        padding: 0.0vh;
        font-size: 1.3vw;
        height: 8%;
        top: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
    }
    
    .header-h1 {
        position: absolute;
        top: -0.5vh;
        left: 2%;
        font-size: 300%;
        cursor: pointer;
        font-family: 'Righteous', cursive;
    }
    
    .header-h1 a {
        text-decoration: none;
        color: white;
        transition: .3s linear;
        transform-origin: center;
    }
    
    .header-h1 a:hover {
        color: rgb(109, 71, 169);
    }
    
    .main {
        margin: 30px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: left;
        position: static;
        padding-bottom: 19.7px;
    }
    
    .subti {
        font-size: 2vw;
    }
    
    .navi .aaa {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding-left: 55vw;
    }
    
    .dropdown {
        background-color: rgba(7, 7, 7, 0);
        padding: 1vh 0.6vw;
        font-size: 1.2vw;
        transition: .3s linear;
        transform-origin: center;
        width: 25%;
        font-size: 1.2vw;
        right: 1vw;
        top: -0.5vh;
    }
    
    .dropdown:hover {
        cursor: pointer;
        background-color: rgb(63, 63, 63);
    }
    
    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 1.3vh 2vw;
        text-decoration: none;
        font-size: 1.2vw;
        margin: 0;
    }
    
    .dropbtn:hover {
        color: rgb(109, 71, 169);
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 0.2);
        z-index: 2;
        min-width: 6.6vw;
        font-size: 1.2vw;
        top: 7.8vh;
        margin-left: -0.57vw;
    }
    
    .dropdown-content a {
        color: black;
        padding: 2vh 2.5vw;
        display: block;
        text-align: center;
        transition: .3s linear;
        transform-origin: center;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(206, 206, 206);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .aaa {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .main {
        padding-top: 7vh;
        margin-bottom: 5vh;
    }
    
    .jlista {
        top: 5vw;
        margin: 0;
    }
    
    .footer {
        border-top: 1px solid white;
        padding-top: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: -12px;
        font-family: "Poppins", sans-serif;
        background-color: rgb(16, 15, 15);
        padding-bottom: 15vh;
        width: 100%;
        height: 2.4rem;
        z-index: 0;
    }
    
    .horario {
        position: relative;
        top: 5.4vw;
        right: 3vw;
        font-size: 1.4vw;
        display: inline-block;
    }
    
    #criador {
        left: 1%;
        font-size: 1.4vw;
    }
    
    #criador a {
        color: white;
        transition: .3s linear;
        transform-origin: center;
    }
    
    #criador a:hover {
        color: rgb(109, 71, 169);
    }
    
    #argue {
        font-size: 1.2vw;
        margin: 0 auto;
        color: white;
        position: relative;
        right: 6.2%;
        font-family: "Poppins", sans-serif;
        transition: .3s linear;
        transform-origin: center;
    }
    
    #argue:hover {
        color: rgb(109, 71, 169);
    }
    
    #subtitulo {
        font-size: 2.5vw;
    }
    
     ::-webkit-scrollbar {
        width: 1vw;
        background-color: rgba(7, 7, 7, 0.59)
    }
    
     ::-webkit-scrollbar-thumb {
        box-shadow: inset 0px 0px 5px rgb(10, 10, 10);
        background-color: black;
        border-radius: 8px;
    }
    
    .h2-field {
        text-align: center;
        padding-bottom: 8px;
    }
    
    .redirecio {
        text-decoration: none;
        color: rgb(191, 77, 248);
    }
    
    .redirecio:hover {
        color: rgb(156, 16, 191);
    }
    
    .legenda {
        padding: 8px 20px;
        text-align: center;
        border: 1px solid black;
        border-radius: 8px;
        background-image: linear-gradient(to top, rgb(21, 21, 21), rgb(28, 20, 29));
    }
    
    .field {
        padding: 10px;
        width: 90%;
        border: 1px solid black;
        border-radius: 3px;
        background-image: linear-gradient(to top, rgb(58, 58, 58), rgb(22, 22, 22));
        transition: .3s linear;
        transform-origin: center;
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    
    .field:hover {
        font-size: 1.8vw;
        width: 110%;
    }
    
    .sec {
        padding-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
    }
    
    .art {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 70%;
        gap: 2vh;
    }
    
    .art h2 {
        text-align: center;
    }
    
    .azin {
        transition: .3s linear;
        color: white;
        text-decoration: underline;
    }
    
    .azin:hover {
        color: rgb(109, 71, 169);
    }