    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    body {
        font-family: "Poppins", sans-serif;
        background-color: rgb(22, 22, 22);
        color: white;
        font-size: 2.8vh;
    }
    
    .header {
        padding-top: 0.2%;
        display: flex;
        flex-direction: row;
        /* justify-content: space-around;*/
        align-items: baseline;
        justify-content: flex-end;
        border-bottom: 0.1vw solid white;
        background-color: rgba(7, 7, 7, 0.59);
        padding: 0.0vh;
        font-size: 1.3vw;
        height: 4.7vw;
        top: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
    }
    
    .header-h1 {
        position: absolute;
        top: -0.5vh;
        left: 2%;
        font-size: 300%;
        cursor: pointer;
        font-family: 'Righteous', cursive;
    }
    
    .header-h1 a {
        text-decoration: none;
        color: white;
        transition: .3s linear;
        transform-origin: center;
    }
    
    .header-h1 a:hover {
        color: rgb(109, 71, 169);
    }
    
    .main {
        margin: 30px;
        padding-top: 12vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        text-align: left;
        position: static;
        padding-bottom: 8vh;
    }
    
    .subti {
        font-size: 2vw;
    }
    
    .navi .aaa {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding-left: 38.1vw;
    }
    
    .top:hover {
        color: black;
    }
    
    .top a {
        color: white;
        text-decoration: none;
        display: block;
    }
    
    .top li:hover>ul {
        display: inline;
        transition: .5s;
    }
    
    .top>li:hover {
        background-color: rgba(136, 136, 136, 0.474);
    }
    
    .top>li {
        position: relative;
        float: left;
        background-color: #99999900;
        width: 12vw;
        padding: 2.36vh;
        transition: .2s linear;
        text-align: center;
    }
    
    .top {
        list-style: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        transition: .5s linear;
    }
    
    .second>li:hover {
        background-color: rgb(130, 130, 130);
    }
    
    .second>li {
        position: relative;
        background-color: #0D0D0D;
        padding: 12px;
    }
    
    .second {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        top: 8.4vh;
        left: 0;
        width: 12vw;
    }
    
    .third>li:hover {
        background-color: rgb(155, 155, 155);
    }
    
    .third>li {
        background-color: #0D0D0D;
        padding: 1.51vh;
    }
    
    .third {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        top: 0;
        right: -150px;
        width: 150px;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .main {
        padding-top: vw;
        margin-bottom: 5vh;
    }
    
    .jlista {
        top: 5vw;
        margin: 0;
    }
    
    .footer {
        border-top: 0.1vw solid white;
        padding-top: 4vh;
        font-family: "Poppins", sans-serif;
        background-color: rgb(16, 15, 15);
        padding-bottom: 5vh;
        width: 100%;
        z-index: 0;
    }
    
    #frase {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    
    #fbaixo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
        width: 50%;
    }
    
    #criador {
        font-size: 1.4vw;
        position: relative;
        right: -1vw;
        bottom: -3vh;
    }
    
    #criador a {
        color: white;
        transition: .3s linear;
        transform-origin: center;
    }
    
    #criador a:hover {
        color: rgb(109, 71, 169);
    }
    
    #argue {
        font-size: 1.2vw;
        margin: 0 auto;
        color: white;
        position: relative;
        font-family: "Poppins", sans-serif;
        transition: .3s linear;
        transform-origin: center;
    }
    
    #argue:hover {
        color: rgb(109, 71, 169);
    }
    
    #sa {
        position: relative;
        left: 0;
        right: 0px;
    }
    
    #subtitulo {
        font-size: 2.5vw;
    }
    
     ::-webkit-scrollbar {
        width: 1vw;
        background-color: rgba(7, 7, 7, 0.59)
    }
    
     ::-webkit-scrollbar-thumb {
        box-shadow: inset 0px 0px 5px rgb(10, 10, 10);
        background-color: black;
        border-radius: 8px;
    }
    
    .h2-field {
        text-align: center;
        padding-bottom: 8px;
    }
    
    .redirecio {
        text-decoration: none;
        color: rgb(191, 77, 248);
    }
    
    .redirecio:hover {
        color: rgb(156, 16, 191);
    }
    
    .legenda {
        padding: 1vw 3vw;
        text-align: center;
        border: 0.1vw solid black;
        border-radius: 8px;
        background-image: linear-gradient(to top, rgb(21, 21, 21), rgb(28, 20, 29));
    }
    
    .field {
        padding: 2vw;
        width: 90%;
        border: 0.1vw solid black;
        border-radius: 3px;
        background-image: linear-gradient(to top, rgb(58, 58, 58), rgb(22, 22, 22));
        transition: .3s linear;
        transform-origin: center;
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    
    .field:hover {
        font-size: 4vh;
        width: 100%;
    }
    
    .sec {
        padding-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        min-width: 80%;
    }
    
    .sec2 {
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 80%;
        gap: 5vh;
    }
    
    .art {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 80%;
        gap: 2vh;
        align-items: flex-start;
    }
    
    .art h2 {
        text-align: center;
    }
    
    .azin {
        transition: .4s linear;
        color: white;
        text-decoration: underline;
    }
    
    .azin:hover {
        color: rgb(109, 71, 169);
    }